@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section::before {
    content: '';
    position: absolute;
    width: 240px;
    height: 240px;
    background: linear-gradient(#f3f5f5, #9c27b0);
    border-radius: 50%;
    transform: ;
}